# Host identity
HOSTNAME=skirnir
DOMAIN=aegirshus

# Time
TZ=Europe/Stockholm

# User IDs
PUID=1000
PGID=1000

# Base paths
DATA_ROOT=/srv
DOCKER_DATA=/srv/docker

MEDIA_PATH=/srv/media
DOWNLOADS_PATH=/srv/downloads
PAPERLESS_PATH=/srv/paperless
WAZUH_PATH=/srv/wazuh