########################################
# MÍMIR'S WELL
# Single source of truth for Skirnir
########################################

########################################
# Host Identity
########################################

HOSTNAME=skirnir
DOMAIN=aegirshus
DNS_HOST=dns.${DOMAIN}

########################################
# Locale / Time
########################################

TZ=Europe/Stockholm

########################################
# User IDs (Linux permissions)
########################################

PUID=1001
PGID=1001

########################################
# Root Data Paths
########################################

DATA_ROOT=/srv
DOCKER_DATA=/srv/docker

########################################
# Shared Storage
########################################

MEDIA_PATH=/mnt/media
DOWNLOADS_PATH=/mnt/torrentdownloads

########################################
# Application Storage
########################################

PAPERLESS_PATH=/srv/paperless
WAZUH_PATH=/srv/wazuh
PROWLARR_HOST=prowlarr.${DOMAIN}
SONARR_HOST=sonarr.${DOMAIN}
RADARR_HOST=radarr.${DOMAIN}
BAZARR_HOST=bazarr.${DOMAIN}
QBITTORRENT_HOST=qbittorrent.${DOMAIN}

########################################
# Docker Networking
########################################

PROXY_NETWORK=proxy

########################################
# Service Hostnames
########################################

JELLYFIN_HOST=jellyfin.${DOMAIN}
PAPERLESS_HOST=paperless.${DOMAIN}
HOMEASSISTANT_HOST=ha.${DOMAIN}
WAZUH_HOST=wazuh.${DOMAIN}
HOMEPAGE_HOST=home.${DOMAIN}
PORTAINER_HOST=portainer.${DOMAIN}
PAPERLESS_DBNAME=paperless
PAPERLESS_DBUSER=paperless
PAPERLESS_DBPASS=
PAPERLESS_SECRET_KEY=